.stats-area {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
   /* margin-bottom: 150px; */
   margin-top: -20px;
}

.graph-area {
    margin-top: 10px;
    margin-top: 15px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bar-graph-area {
    margin-top: 10px;
    margin-top: 15px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}